.labelContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  align-items: flex-start;
}

.label {
  font-size: 25px;
  margin: 5px 0;
}

.textField {
  width: 300px;
  height: 40px;
  font-size: 18px;
  padding: 0 10px;
}
